.footer{
  background-color: white;
  height: 50px;
  width: 100vw;
}

.warning{
  color: rgba(0, 0, 0, .851);
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
