.main{
  background-color: white;
  border-radius: 5px;
  width: 90vw;
  margin: 15px 0 15px 5vw;
  padding: 10px;
  box-sizing: border-box;
}

.main__text{
  color: black;
}

.main__genre{
  text-decoration: line-through;
}